.banner {
    color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .leftSection {
    display: flex;
    align-items: center;
  }
  
  .profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .rightSection {
    font-size: 48px;
    font-weight: bold;
    color: #007bff;
  }
  
  .detailsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 10px;
  }
  
  .detailItem {
    display: flex;
    justify-content: space-between; /* Align label and value on the same line */
    font-size: 16px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .value {
    margin-left: 10px;
    color: #007bff;
  }
  