/* src/components/Layout.module.css */
.layout {
    display: flex;
  }

  .sidenav {
    position: fixed;
  }
  
  .content {
    margin-left : 200px;
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
    overflow: scroll;
  }
  